#!jinja2

{# ###################### Nesting suite set up ######################### #}

{# IF a rose-app-SITE.conf exists for a site, use it.#}
{% set TASK_RUN_COMMAND = "rose task-run -v --opt-conf-key='(" + SITE + ")' " %}

{# Site-specific details that add to (or override) the core suite definition. #}

{# Maximum number of cycles that can be active at any one time #}
{% set MAX_ACTIVE_CYCLES = 3 %}

{# Maximum number of tasks that can be active at any one time #}
{% set MAX_ACTIVE_TASKS = 20 %}

{# Set up suite cycling #}
{% set DATES = [] %}
{% set TRIAL_START_DATE = INITIAL_CYCLE_POINT %}
{% set TRIAL_END_DATE =  FINAL_CYCLE_POINT %}
{% set CYCLE_FREQ = "PT" ~ CYCLE_INT_HR ~ "H" %}
{# below are needed for FREE_RUNning #}
{% set CYCLE_PREV, CYCLE_NEXT = "-" ~ CYCLE_FREQ, "+" ~ CYCLE_FREQ %}

{# Macro for setting housekeeping option options #}
{% macro hs_opt() -%}
   {%- set opts = [] -%}
   {%- if HK_RUN[0] -%}
      {%- if HK_RUN[1] -%}
         {%- do opts.append("hkall") -%}
      {%- else -%}
         {%- do opts.append("hkmstash") -%} 
      {% endif %}
   {%- endif -%}  
{{opts|join(" ")}}
{%- endmacro %}

###### Scheduling and dependencies ##################}

[cylc]
    UTC mode = True
    [[events]]
        timeout          = P1D

[scheduling]
    initial cycle point = {{TRIAL_START_DATE}}
    final cycle point   =  {{TRIAL_END_DATE}}
    max active cycle points = {{MAX_ACTIVE_CYCLES}}
    [[special tasks]]
        sequential = housekeep_cycle

    [[queues]]
        [[[default]]]
            limit = {{MAX_ACTIVE_TASKS}}

    [[dependencies]]
        [[[R1]]]
             graph = """
            install_cold_hpc
            """


##### Runtime job definition and task families ######
[runtime]
    [[root]]
        script =  {{TASK_RUN_COMMAND}}
        env-script = eval $(rose task-env)
        [[[environment]]]
            TMPDIR = $CYLC_TASK_WORK_DIR

    [[HOST_LOCAL]]
        # Tasks that run on the suite host or group.

    [[HOST_HPC]]
        # Tasks that the run on HPC host or group.
        [[[job]]]
            execution retry delays = PT30M
            submission retry delays = 3*PT5M,3*PT15M,3*PT30M

    [[INSTALL_COLD]]
        [[[environment]]]
            ROSE_TASK_APP = install_cold
            GLM_RESLN = dummy
            
    [[install_cold_hpc]]
        inherit = INSTALL_COLD, HOST_HPC
        [[[environment]]]
            ARCHIVE_SET_NAME = ${ROSE_SUITE_NAME}

    {# Housekeeping task family #}
    [[HOUSEKEEP]]
        inherit = None, HOST_LOCAL
        [[[job]]]
            execution retry delays = PT15M, PT15M, PT30M, PT60M, PT60M, PT180M, PT360M, PT360M, PT360M

    {# This housekeeping task applies to complete cycles rather than individual CRUNs #}
    [[housekeep_cycle]]
        inherit = HOUSEKEEP
        env-script = """
            eval $(rose task-env)
            CURR_DATE=$(rose date -c)
            """
        [[[environment]]]
            CYCLE_OFFSET = {{CYCLE_PREV}}
            HK_CYCLE = $CYCLE_OFFSET
            ROSE_APP_OPT_CONF_KEYS={{hs_opt()}}
            ROSE_TASK_APP = housekeep

    [[housekeep_lastcycle]]
        inherit = HOUSEKEEP
        [[[environment]]]
            CYCLE_OFFSET  = {{CYCLE_PREV}}
            HK_CYCLE      = $CYCLE_OFFSET
            ROSE_APP_OPT_CONF_KEYS={{hs_opt()}}
            ROSE_TASK_APP = housekeep
 