{# ########## Macros for setting task names ########## #}

{# Ancillary task names #}
{% macro ancil(regn, resln) -%}
{{regn["name"]}}_{{resln["name"]}}_ancil
{%- endmacro %}

{# Task names for nested LAMs #}
{% macro model(regn, resln, mod) -%}
{{regn["name"]}}_{{resln["name"]}}_{{mod["name"]}}
{%- endmacro %}

{# Task name for the parent model of a given nested LAM. Here get_parent is a custom filter
that returns the parent model (resolution and model) of the supplied model #}
{% macro parent(regn, mod) -%}
    {%- set parent_mod = regn|get_parent(mod) -%}
{{regn["name"]}}_{{parent_mod["resln"]["name"]}}_{{parent_mod["model"]["name"]}}
{%- endmacro %}

{# ########## Macros for setting model directory and file names ########## #}

{# Directory containing ancillary files for each region and resolution #}
{% macro ancildir(regn, resln) -%}
$ROSE_DATA/ancils/{{regn["name"]}}/{{resln["name"]}}
{%- endmacro %}

{# Driving model data directory basename. The default is to return the directory
basename for the current cycle. The basename of the directory for any previous
cycle can be obtained by specifying the time offset, cycle_offset, from the
current cycle in hours #}
{% macro get_dm_dirbase(mod, cycle_offset = none) -%}
    {%- if cycle_offset -%}
$ROSE_DATACPT{{cycle_offset}}H/{{mod["name"]}}/
    {%- else -%}
$ROSE_DATAC/{{mod["name"]}}/
    {%- endif -%}
{%- endmacro %}

{# Nested LAM data directory basename. The default is to return the directory
basename for the current cycle. The basename of the directory for any previous
cycle can be obtained by specifying the time offset, cycle_offset, from the
current cycle in hours #}
{% macro get_lam_dirbase(regn, resln, mod, cycle_offset = none) -%}
    {%- if cycle_offset -%}
$ROSE_DATACPT{{cycle_offset}}H/{{regn["name"]}}/{{resln["name"]}}/{{mod["name"]}}/
    {%- else -%}
$ROSE_DATAC/{{regn["name"]}}/{{resln["name"]}}/{{mod["name"]}}/
    {%- endif -%}
{%- endmacro %}

{# ########## Macros for setting apps to use ########## #}

{# Macro for setting the UM app to be used for nested LAM reconfiguration
and forecasts. This is always "um" unless the user has supplied a custom
app for their own UM science configuration #}
{% macro um_app(mod) -%}
    {%- if mod["config"] not in STANDARD_CONFIGS -%}
{{mod["config"]}}_um
    {%- else -%}
um
    {%- endif -%}
{%- endmacro %}

{# ########## Macros for setting optional configurations to use ########## #}

{# Macro for setting optional configurations to be used in driving model
reconfiguration and forecast tasks #}
{% macro dm_um_opt(mod) -%}
    {%- set opts = [] -%}
    {# If the driving model is the global model, set the desired resolution and config #}
    {%- if mod["name"] == "glm" -%}
        {%- do opts.append(mod["resln"]) -%}
        {%- do opts.append(mod["config"]) -%}
    {%- endif -%}
    {# Turn on CreateBC macro #}
    {%- if mod["cb_on"] -%}
        {% do opts.append("lbc") %}
        {%- if USE_UKCA -%}
            {% do opts.append("lbcukca") %}
        {%- endif -%}
    {%- endif -%}
    {%- if USE_UKCA -%}
        {% do opts.append("ukca ukcacycleinit") %}
    {%- endif -%}
    {%- if DRV_MOD["run_murk"] -%}
        {% do opts.append("murk") %}
    {%- endif -%}
    {# Add soil-dust ancil for NCI-GADI UKIC #}
    {%- if DRV_MOD["RUN_MODE"] == "rerun_oper" and SITE == "nci-gadi" -%}
          {% do opts.append("nosoildust") %}
    {%- endif -%}
{{opts|join(" ")}}
{%- endmacro %}

{# Macro for setting optional configurations to be used in nested LAM
reconfiguration and forecast tasks #}
{% macro um_opt(resln, mod) -%}
    {%- set opts = [] -%}
    {# This optional configuration file defines nesting suite environment variables #}
    {%- do opts.append("ns") -%}
    {# This optional configuration file reconfigures in orog - needed as an option
                                        so that don't do this (and hence wrongly 
                                        reblend the rims) when FREE_RUNning  #}
    {%- do opts.append("rcf_orog") -%}
    {# This optional configuration file defines OSTIA Rcf environment variables #}
    {%- if USE_OSTIA -%}
        {%- do opts.append("ostia") -%}
        {%- if USE_SMC -%}
           {%- do opts.append("smc") -%}
        {%- endif -%}
    {%- endif -%}
    {# Use the snow-free surface albedo ancillary to correct the brightness of urban tiles #}
    {%- if resln["alb_anc"] -%}
        {% do opts.append("land") %}
    {%- endif -%}
    {# Turn on stashpack. Do this before picking up science config so that GA science configs 
       do not try to use reflectivities diagnostics (because they comment out these diags . #}
    {%- for n in range(1,NSTASH+1) -%}         
      {%- if mod["stashpack"][n-1] -%}
        {% do opts.append("stashpack"+n|string) %}
      {%- endif -%}
    {%- endfor -%}
    {# Pick up one of the standard UM LAM science configurations supplied with the nesting suite #}
    {%- if mod["config"] in STANDARD_CONFIGS -%}
        {% do opts.append(mod["config"]) %}
    {%- endif -%}
    {# Turn on fixed resolution settings if required #}
    {%- if (resln["vargrid"]  == "fixed" and resln["std_model"]  == "custom") -%}
        {%- do opts.append("fixed") -%}
    {%- endif -%}
    {# Turn on variable resolution settings if required #}
    {%- if (resln["vargrid"]  == "variable" and resln["std_model"]  == "custom") -%}
        {%- do opts.append("variable") -%}
    {%- endif -%}
    {# Turn on 3D ozone and aerosol climatology ancillaries #}
    {%- if resln["3D_ancils"] and not USE_UKCA -%}
        {% do opts.append("3D_ancils") %}
    {%- endif -%}
    {# Turn on dust aerosol climatology ancillaries #}
    {%- if resln["arcl_dust_anc"] or USE_UKCA-%}
        {% do opts.append("arcl_dust") %}
    {%- endif -%}
    {# Reconfigure the leaf-area index (LAI) field from the parent model
    instead of an ancillary #}
    {%- if resln["lai_anc"] is not none -%}
        {%- if not resln["lai_anc"] -%}
            {% do opts.append("lai") %}
        {%- endif -%}
    {%- endif -%}
    {# The user-supplied ozone ancillary is zonally-averaged #}
    {%- if resln["zon_avg_ozone"] -%}
        {% do opts.append("2D_ozone") %}
    {%- endif -%}
    {# Nest domain inside the UKV #}
    {%- if resln["downscale_ukv"] -%}
        {% do opts.append("downscale_ukv") %}
    {%- endif -%}
    {# Turn on MORUSES #}
    {%- if mod["moruses"] -%}
        {% do opts.append("moruses") %}
    {%- endif -%}
    {# Turn on CreateBC macro #}
    {%- if mod["cb_on"] -%}
        {% do opts.append("lbc") %}
    {%- endif -%}
    {# Add in operational models #}
    {%- do opts.append(resln["std_model"]) -%}
    {# Turn on prognostic dust #}
    {%- if mod["progdust"][0] -%}
        {% do opts.append("prog_dust") %}
    {%- endif -%}
    {# Turn on prognostic dust in radiation (as opposed to the climatology) #}
    {%- if mod["progdust"][1] -%}
        {% do opts.append("prog_dust_radn") %}
    {%- endif -%}
    {# Pick up K-Scale IO settings for large domain configurations #}
    {%- if resln["kscale"] -%}
        {% do opts.append("kscale") %}
    {%- endif -%}
    {%- if USE_UKCA -%}
        {%- do opts.append("ukca") -%}
	{%- if mod["cb_on"] -%}
            {% do opts.append("lbcukca") %}
        {%- endif -%}
    {%- endif -%}
{{opts|join(" ")}}
{%- endmacro %}

{# Macro for setting optional configurations to be used in nested
lfric lam forecast tasks #}
{% macro lfric_opt(resln, mod) -%}
    {%- set opts = [] -%} 
    {%- do opts.append("ns") -%}
    {%- do opts.append(mod["config"]) -%}
    {%- if mod["lfric_exp_blending"] -%}
        {%- do opts.append("exp_blending") -%}
    {%- endif -%}
    {%- if mod["lfric_mix_mol"] -%}
        {%- do opts.append("mix_mol") -%}
    {%- endif -%}
    {%- if resln["vargrid"]  == "variable" -%}
        {%- do opts.append("variable") -%}
    {%- endif -%}
{{opts|join(" ")}}
{%- endmacro %}

{# Macro for setting optional configurations to be used in nested
lfric lam forecast tasks #}
{% macro lfric_diags(resln, mod) -%}
    {%- set opts = [] -%}
    {%- for n in range(1,NDIAG+1) -%}
      {%- if mod["lfric_diagnostics"][n-1] -%}
        {% do opts.append(".TRUE.") %}
      {%- else -%}
        {% do opts.append(".FALSE.") %}
      {%- endif -%}
    {%- endfor -%}
{{opts|join(" ")}}
{%- endmacro %}

{# Macro for setting optional configurations to be used in nested LAM
FREE_RUNning reconfiguration task #}
{% macro um_freerun_opt(resln, mod) -%}
    {%- set opts = [] -%}
    {# This optional configuration file defines nesting suite environment variables #}
    {%- do opts.append("ns") -%} 
    {# This optional configuration file defines OSTIA Rcf environment variables #}
    {%- if USE_OSTIA -%}
        {%- do opts.append("ostia") -%}
    {%- endif -%}
    {%- if FREE_RUN -%}
        {%- do opts.append("freerun") -%}
    {%- endif -%}
    {# Turn on 3D ozone and aerosol climatology ancillaries #}
    {%- if resln["3D_ancils"] and not USE_UKCA -%}
    {% do opts.append("3D_ancils") %}  
    {%- endif -%}
    {# Turn on dust aerosol climatology ancillaries #}
    {%- if resln["arcl_dust_anc"] or USE_UKCA-%}
        {% do opts.append("arcl_dust") %}
    {%- endif -%}
    {# Reconfigure the leaf-area index (LAI) field from the parent model
    instead of an ancillary #}
    {%- if resln["lai_anc"] is not none -%}
    {%- if not resln["lai_anc"] -%}
    {% do opts.append("lai") %}  
    {%- endif -%}  
    {%- endif -%} 
    {# Use the snow-free surface albedo ancillary to correct the brightness of urban tiles #}
    {%- if resln["alb_anc"] -%}
        {% do opts.append("land") %}
    {%- endif -%}
    {# Turn on stashpack. Do this before picking up science config so that GA science configs 
       do not try to use reflectivities diagnostics. #}
    {%- for n in range(1,NSTASH+1) -%}         
      {%- if mod["stashpack"][n-1] -%}
        {% do opts.append("stashpack"+n|string) %}
      {%- endif -%}
    {%- endfor -%}
    {# Pick up one of the standard UM LAM science configurations supplied with the nesting suite #}
    {%- if mod["config"] in STANDARD_CONFIGS -%}
    {% do opts.append(mod["config"]) %}  
    {%- endif -%}
    {# Turn on fixed resolution settings if required #}
    {%- if (resln["vargrid"]  == "fixed" and resln["std_model"]  == "custom") -%}
        {%- do opts.append("fixed") -%}
    {%- endif -%}
    {# Turn on variable resolution settings if required #}
    {%- if (resln["vargrid"]  == "variable" and resln["std_model"]  == "custom") -%}
        {%- do opts.append("variable") -%}
    {%- endif -%}    
    {# Turn on CreateBC macro #}
    {%- if mod["cb_on"] -%}
    {% do opts.append("lbc") %}  
    {%- endif -%}
    {# Add in operational models #}
    {%- do opts.append(resln["std_model"]) -%}
    {# Turn on prognostic dust #}
    {%- if mod["progdust"][0] -%}
        {% do opts.append("prog_dust") %}
    {%- endif -%}
    {# Turn on prognostic dust in radiation (as opposed to the climatology) #}
    {%- if mod["progdust"][1] -%}
        {% do opts.append("prog_dust_radn") %}
    {%- endif -%}
    {# Turn on MORUSES #}
    {%- if mod["moruses"] -%}
        {% do opts.append("moruses") %}
    {%- endif -%}    
    {# Pick up K-Scale IO settings for large domain configurations #}
    {%- if resln["kscale"] -%}
        {% do opts.append("kscale") %}
    {%- endif -%}
    {%- if USE_UKCA -%}
        {%- do opts.append("ukca") -%}
        {%- if mod["cb_on"] -%}
            {% do opts.append("lbcukca") %}
        {%- endif -%}
    {%- endif -%}
{{opts|join(" ")}}
{%- endmacro %}

{# Macro for setting archiving options #}
{% macro arch_opt(resln, mod) -%}
    {%- set opts = [] -%}
    {# Turn on archiving of cb files if they were produced #}
    {%- if mod["cb_on"] and mod["arch"][0] -%}
        {% do opts.append("cb") %}
    {%- endif -%}
    {# Turn on archiving of initial conditions #}
    {%- if mod["arch"][1] -%}
        {%- do opts.append("ic") -%}
    {%- endif -%}
    {# Turn on archiving of model fields #}
    {%- if RUN_UM_LAM | default(True) -%}
        {%- if mod["arch"][2] -%}
            {%- if resln["vargrid"]  == "fixed" -%}
                {% do opts.append("ff") %}
            {%- elif resln["vargrid"]  == "variable" -%}
                {% do opts.append("ff_variable") %}
            {%- endif -%}	    
        {%- endif -%}
    {%- endif -%}
    {%- if RUN_LFRIC_LAM | default(False) -%}
        {%- if mod["lfric_arch"] -%}
            {% do opts.append("nc") %}
        {%- endif -%}
    {%- endif -%}
{{opts|join(" ")}}
{%- endmacro %}

{# Macro for setting housekeeping option options #}
{% macro hs_opt() -%}
   {%- set opts = [] -%}
   {%- if HK_RUN[0] -%}
      {%- if HK_RUN[1] -%}
         {%- do opts.append("hkall") -%}
      {%- else -%}
         {%- do opts.append("hkmstash") -%} 
      {% endif %}
   {%- endif -%}  
   {%- if USE_UKCA -%}
      {%- do opts.append("hkukca") -%} 
   {%- endif -%}  
{{opts|join(" ")}}
{%- endmacro %}

{# Macro for setting STASH codes for LBC creation #}
{% macro lbc_codes_opt(mod) -%}
   {%- set opts = [] -%}
   {%- do opts.append("33,2,3,150,253,4,10,254,12,255") -%}
   {%- if mod["lbc_rain"] -%}
      {%- do opts.append("272") -%}
   {%- endif -%}
   {%- if mod["progdust"][0] -%}
      {%- do opts.append("431,432,433,434,435,436") -%}
   {%- endif -%}
   {%- if USE_UKCA -%}
      {%- do opts.append("34008,34071,34072,34073,34075,34091,34092,34101,34102,34103,34104,34105,34106,34107,34108,34109,34110,34111,34113,34114,34115,34116,34117,34119,34120,34121,34126")  -%}
   {%- endif -%}   
{{opts|join(",")}}
{%- endmacro %}
