#!jinja2

{# Process the variables in rose-suite.conf into a dictionary specifying the properties
of the driving model, DRV_MOD, and a triply-nested data structure, REGNS, that contains
information about all the nested LAMs in this suite #}
%include "suite-setup.rc"

{# IF a rose-app-SITE.conf exists for a site, use it.#}
{% set TASK_RUN_COMMAND = "rose task-run -v --opt-conf-key='(" + SITE + ")' " %}

{# Site-specific details that add to (or override) the core suite definition. #}

###### Scheduling and dependencies ##################}

[cylc]
    UTC mode = True
    [[events]]
        timeout          = P1D

[scheduling]
    initial cycle point = {{TRIAL_START_DATE}}
    final cycle point   =  {{TRIAL_END_DATE}}
    max active cycle points = {{MAX_ACTIVE_CYCLES}}
    [[special tasks]]
        sequential = housekeep_cycle

    [[queues]]
        [[[default]]]
            limit = {{MAX_ACTIVE_TASKS}}

    [[dependencies]]
        [[[R1]]]
             graph = """
            install_cold_hpc
            """


##### Runtime job definition and task families ######
[runtime]
    [[root]]
        script =  {{TASK_RUN_COMMAND}}
        env-script = eval $(rose task-env)
        [[[environment]]]
            TMPDIR = $CYLC_TASK_WORK_DIR

    [[INSTALL_COLD]]
        [[[environment]]]
            ROSE_TASK_APP = install_cold
            GLM_RESLN = dummy
            
    [[install_cold_hpc]]
        inherit = INSTALL_COLD, HOST_HPC
        [[[environment]]]
            command = echo 'hello world'
 