#!jinja2

{# ###################### Nesting suite set up ######################### #}

{# IF a rose-app-SITE.conf exists for a site, use it.#}
{% set TASK_RUN_COMMAND = "rose task-run -v --opt-conf-key='(" + SITE + ")' " %}

{# Maximum number of cycles that can be active at any one time #}
{% set MAX_ACTIVE_CYCLES = 3 %}

{# Maximum number of tasks that can be active at any one time #}
{% set MAX_ACTIVE_TASKS = 20 %}

{# Set up suite cycling #}
{% set DATES = [] %}
{% set TRIAL_START_DATE = INITIAL_CYCLE_POINT %}
{% set TRIAL_END_DATE =  FINAL_CYCLE_POINT %}
{% set CYCLE_FREQ = "PT" ~ CYCLE_INT_HR ~ "H" %}
{# below are needed for FREE_RUNNING #}
{% set CYCLE_PREV, CYCLE_NEXT = "-" ~ CYCLE_FREQ, "+" ~ CYCLE_FREQ %}

{# Macro for setting housekeeping option options #}
{% macro hs_opt() -%}
   {%- set opts = [] -%}
   {%- if HK_RUN[0] -%}
      {%- if HK_RUN[1] -%}
         {%- do opts.append("hkall") -%}
      {%- else -%}
         {%- do opts.append("hkmstash") -%} 
      {% endif %}
   {%- endif -%}  
{{opts|join(" ")}}
{%- endmacro %}

{# Set the number of UM tasks/day #}
{% set n_cruns = ( CYCLE_INT_HR/ CRUN_LEN)  | int %}

{# For EC driving model set up n_lbcs so that can set up correct number of driving model 
   recon jobs. Our EC data is stored in hourly files. We add '+1' so the jinja loop will run from 00 to 24 #}
{% set n_lbcs = 24 + 1 %}

###### Scheduling and dependencies ##################}

[cylc]
    UTC mode = True
    [[events]]
        timeout          = P1D

[scheduling]
    initial cycle point = {{TRIAL_START_DATE}}
    final cycle point   =  {{TRIAL_END_DATE}}
    max active cycle points = {{MAX_ACTIVE_CYCLES}}
    [[special tasks]]
        sequential = housekeep_cycle

    [[queues]]
        [[[default]]]
            limit = {{MAX_ACTIVE_TASKS}}

    [[dependencies]]
        [[[R1]]]
             graph = """
            install_cold_hpc
            install_cold_hpc[^] => install_ec_startdata
            install_cold_hpc => nci_hres_eccb

            ec_um_recon_000  =>  nci_hres_eccb => Region_Resolution_Model_um_recon => nci_hres_ic => Region_Resolution_Model_um_fcst_000
            ec_um_recon_000  =>  nci_hres_eccb => Region_Resolution_Model_um_createbc_000

            Region_Resolution_Model_um_recon => Region_Resolution_Model_um_fcst_000 => Region_Resolution_Model_um_fcst_001 => Region_Resolution_Model_um_fcst_002 => Region_Resolution_Model_um_fcst_003 => housekeep_cycle

            install_ec_startdata => ec_um_recon_000 => Region_Resolution_Model_um_createbc_000
            nci_era5grib_parallel => ec_um_recon_000
            {% for lb in range(1,n_lbcs) %}
                {% set lbc = lb|pad(3,"0") %}
                    install_ec_startdata => ec_um_recon_{{lbc}} => Region_Resolution_Model_um_createbc_000
                    nci_era5grib_parallel => ec_um_recon_{{lbc}}
            {% endfor %}

            Region_Resolution_Model_um_createbc_000 => Region_Resolution_Model_um_fcst_000

            {% for cr in range(1,n_cruns) %}
                {% set crp = cr|pad(3,"0") %}
                 => Region_Resolution_Model_um_createbc_{{crp}} => Region_Resolution_Model_um_fcst_{{crp}}
            {% endfor %} 
            

            """   
        [[[+PT24H/PT24H]]]
            graph = """
            housekeep_cycle[-PT24H] => Region_Resolution_Model_um_recon_cyclen => Region_Resolution_Model_um_fcst_000 => Region_Resolution_Model_um_fcst_001 => Region_Resolution_Model_um_fcst_002 => Region_Resolution_Model_um_fcst_003 => housekeep_cycle

            {% for lb in range(n_lbcs) %}
                {% set lbc = lb|pad(3,"0") %}
                install_ec_startdata => ec_um_recon_{{lbc}} => ec_linkprev
            {% endfor %}

            {% for cr in range(0,n_cruns) %}
                {% set crp = cr|pad(3,"0") %}
                ec_linkprev => Region_Resolution_Model_um_createbc_{{crp}} => Region_Resolution_Model_um_fcst_{{crp}}
            {% endfor %} 

            housekeep_cycle[-PT24H] => ec_linkprev
            # Don't run nci_era5grib concurrently
            nci_era5grib_parallel[-PT24H] => nci_era5grib_parallel
            install_ec_startdata[-PT24H] => install_ec_startdata
            """
        [[[R1//+P0D]]]
            graph = """
            housekeep_cycle => housekeep_lastcycle
        """

##### Runtime job definition and task families ######
[runtime]
    [[root]]
        script =  {{TASK_RUN_COMMAND}}
        env-script = eval $(rose task-env)
        [[[environment]]]
            TMPDIR = $CYLC_TASK_WORK_DIR

    [[HOST_LOCAL]]
        # Tasks that run on the suite host or group.

    [[HOST_HPC]]
        # Tasks that the run on HPC host or group.
        [[[job]]]
            execution retry delays = PT30M
            submission retry delays = 3*PT5M,3*PT15M,3*PT30M

    [[INSTALL_COLD]]
        [[[environment]]]
            ROSE_TASK_APP = install_cold
            GLM_RESLN = dummy
            
    [[install_cold_hpc]]
        inherit = INSTALL_COLD, HOST_HPC
        [[[environment]]]
            ARCHIVE_SET_NAME = ${ROSE_SUITE_NAME}

    {# Driving model task family #}
    [[ec]]
        [[install_ec_startdata]]
            inherit = ec, ARCHIVE
            pre-script = mkdir -p $ROSE_DATAC/ec/ics/
            script = echo [INFO] no installing to be done because driving data is ECMWF forecast files.

        {# To prevent discontinuities in LBCs for any free-running LAMs that
            have the driving model as a parent, the first driving model LBC
            creation file from the first CRUN of the current cycle is replaced with the last LBC creation file of the last CRUN of the previous cycle #}
        [[ec_linkprev]]
            inherit = ec, HOST_HPC
            env-script = eval $(rose task-env --cycle-offset=PT24H)
            script = linkprev_lbcdata $ROSE_DATACPT24H/ec/um/ $ROSE_DATAC/ec/um/

        [[ec_um]]
            # Settings for all DM recon and forecast tasks.
            inherit = ec, HOST_HPC
            env-script ="""
                            eval $(rose task-env)
                            DUST_OPT=
                            EC_OPT=
                            DATE=$(rose date -c -f %Y%m%d%H%M)
                            DUST_OPT=nodust
                            EC_OPT=ec
                        """
            pre-script ="""
                            cd {{dm_ec_lam_ancil_dir}} && . ./ancil_versions && cd -
                        """
            [[[environment]]]
                DRV_MOD=ec
                CRUN_LEN = {{CRUN_LEN}}
                ROSE_APP_OPT_CONF_KEYS = $DUST_OPT $EC_OPT
                ROSE_TASK_APP = glm_um

            [[ec_um_recon]]
            inherit = ec_um
            {% for lb in range(n_lbcs) %}
                {% set lbc = lb|pad(3,"0") %}
                {% set lbin  = ( lb  * dm_ec_cb_freq / 3600 ) |int %}
                {% set lbint = lbin|pad(3,"0") %}
                    [[ec_um_recon_{{lbc}}]]
                        # Settings for any DM reconfiguration task.
                        inherit = ec_um_recon
                        init-script = """
                            eval $(rose task-env)
                            set `cat {{dm_ec_lam_ancil_dir}}/grid_eg.nl`
                            DELTA_LAT=`echo $3 | cut -d '=' -f2 | sed  's/,//;'`
                            DELTA_LON=`echo $2 | cut -d '=' -f2 | sed  's/,//;'`
                            FIRST_LAT=`echo $9 | cut -d '=' -f2 | sed  's/,//;'`
                            FIRST_LON=`echo $7 | cut -d '=' -f2 | sed  's/,//;'`
                            POLE_LAT=`echo ${10} | cut -d '=' -f2 | sed  's/,//;'`
                            POLE_LON=`echo $8 | cut -d '=' -f2 | sed  's/,//;'`
                            NPTS_Y=`echo ${12} | cut -d '=' -f2 | sed  's/,//;'`
                            NPTS_X=`echo ${11} | cut -d '=' -f2 | sed  's/,//;'`
                            NLEVS=`echo ${14}  | cut -d '=' -f2 | sed  's/,//;'`            
                            NLEVSM1=$(( $NLEVS - 1 ))
                            NLEVSM2=$(( $NLEVS - 2 ))
                            """
                        script = {{TASK_RUN_COMMAND}} --path="share/spack_build/*/bin" --command-key=recon
                        [[[environment]]]
                            DELTA_LAT=$DELTA_LAT
                            DELTA_LON=$DELTA_LON
                            FIRST_LAT=$FIRST_LAT
                            FIRST_LON=$FIRST_LON
                            POLE_LAT=$POLE_LAT
                            POLE_LON=$POLE_LON
                            NPTS_Y=$NPTS_Y
                            NPTS_X=$NPTS_X
                            VERT_LEV={{dm_ec_lam_ancil_dir}}/vertlevs.nl
                            NLEVS=$NLEVS
                            NLEVSM1=$NLEVSM1
                            NLEVSM2=$NLEVSM2                 
                            FDATE=$(rose date -c -f %Y%m%d%H%M --offset=PT{{lbint}}H)
                            AINITIAL={{dm_ec_ic_lbc_dir}}/ec_grib_${FDATE}.t+000
                            ASTART=$ROSE_DATAC/ec/um/ec_cb{{lbint}}
                            RUN_END = 0,0,0,0,0,0
                {% endfor %}

    [[nci_hres_eccb]]
        inherit = None, HOST_HPC
        [[[environment]]]
            ECCBFILE=$ROSE_DATAC/ec/um/ec_cb000.tmp
            MASK={{dm_ec_lam_ancil_dir}}/qrparm.mask
            START=$(rose date -c -f %Y%m%d%H%M)
            TYPE={{NCI_HRES_ECCB}}
            ROSE_TASK_APP = nci_hres_eccb

    [[nci_hres_ic]]
        inherit = None, HOST_HPC
        [[[environment]]]
            #ICFILE=ASTART = '$ROSE_DATAC/${ROSE_TASK_PREFIX}_${UKCA_LAM_RECONFILE}/ics/${ROSE_TASK_PREFIX}_${UKCA_LAM_RECONFILE}_astart'a
            ICFILE=$ROSE_DATAC/ec/um//../../{{rg01_name}}/{{rg01_rs01_name}}/{{rg01_rs01_m01_name}}/ics/{{rg01_rs01_m01_name}}_astart.tmp
            MASK={{rg01_rs01_ancil_dir}}/qrparm.mask
            START=$(rose date -c -f %Y%m%d%H%M)
            TYPE={{NCI_HRES_ECCB}}
            ROSE_TASK_APP = nci_hres_ic

    [[nci_era5grib_parallel]]
        inherit=None, HOST_HPC
        pre-script = mkdir -p $OUTDIR
        [[[ environment ]]]
            OUTDIR={{dm_ec_ic_lbc_dir}}
            MASK={{dm_ec_lam_ancil_dir}}/qrparm.mask
            START=$(rose date -c -f %Y%m%d%H%M)
            COUNT={{n_lbcs}}
            FREQ={{dm_ec_cb_freq}}

    {# UM task family #}
    [[CREATEBC]]
        inherit = None, HOST_HPC
        script = TASK_RUN_COMMAND --path="share/spack_build/*/bin" ${TASK_RUN_EXTRA_OPTS:-}
        [[[environment]]]
            ROSE_TASK_APP = um_createbc

    [[LBCS]]
    {% set NLBC_TIMES = ((CRUN_LEN * 60 * 60) / rg01_rs01_m01_lbc_freq[0])|int + 1 %}

    [[UM_LAM]]
        # Settings for all LAM recon and forecast tasks.
        inherit = HOST_HPC
    [[UM_LAM_RECON]]
        # Settings for all LAM recon tasks.
        inherit = UM_LAM
    [[UM_LAM_FCST]]
        # Settings for all LAM forecast tasks.
        inherit = UM_LAM
        {% set CB_FREQ = (rg01_rs01_m01_lbc_freq[1] / (60 * 60))|round(0, "ceil")|int %}
        {% set NCB_TIMES = ((CB_FREQ * 60 * 60) / rg01_rs01_m01_lbc_freq[1])|int %}

    [[Region_Resolution_Model]]
    
        [[Region_Resolution_Model_CREATEBC]]

            inherit = CREATEBC
            pre-script = mkdir -p $ROSE_DATAC/{{rg01_name}}/{{rg01_rs01_name}}/{{rg01_rs01_m01_config}}/lbcs/
            [[[environment]]]
                NUM_HEADERS = {{16 * NLBC_TIMES * ((rg01_rs01_levset|vert_levs)["nlevs"] + 1) + 1}}	
                STASH_CODES = 33,2,3,150,253,4,10,254,12,255
                VERT_LEV = {{rg01_rs01_ancil_dir}}/vertlevs.nl
                ROSE_APP_OPT_CONF_KEYS = custom

        [[Region_Resolution_Model_LBCS]]
            inherit = Region_Resolution_Model, Region_Resolution_Model_CREATEBC

            {% for cr in range(n_cruns) %}
                {% set crp = cr|pad(3,"0") %}
                {% set START_HOUR, END_HOUR = cr * CRUN_LEN, (cr + 1) * CRUN_LEN %}
                [[Region_Resolution_Model_um_createbc_{{crp}}]]
                    inherit = Region_Resolution_Model_LBCS
                    env-script = """
                        eval $(rose task-env)
                        GRID_PARAM=$($CYLC_SUITE_RUN_DIR/bin/read_horiz_grid {{rg01_rs01_ancil_dir}}/grid.nl)
                        FIRST_LAT=$(echo $GRID_PARAM | cut -f5 -d,)
                        FIRST_LON=$(echo $GRID_PARAM | cut -f6 -d,)
                        DEL_Y=$(echo $GRID_PARAM | cut -f7 -d,)
                        DEL_X=$(echo $GRID_PARAM | cut -f8 -d,)
                        NPTS_Y=$(echo $GRID_PARAM | cut -f1 -d,)
                        NPTS_X=$(echo $GRID_PARAM | cut -f2 -d,)
                        POLE_LAT=$(echo $GRID_PARAM | cut -f3 -d,)
                        POLE_LON=$(echo $GRID_PARAM | cut -f4 -d,)
                        INPUT_FILES=$(ls -mQ $ROSE_DATAC/{{dm_name}}/um/*_cb*)
                        START_DATE=$(rose date -c -s +PT{{START_HOUR}}H -f %Y,%m,%d,%H,%M,%S)
                        END_DATE=$(rose date -c -s +PT{{END_HOUR}}H -f %Y,%m,%d,%H,%M,%S)
                        """
                    [[[environment]]]
                        POLE_LAT = $POLE_LAT
                        POLE_LON = $POLE_LON
                        DEL_Y = $DEL_Y
                        DEL_X = $DEL_X
                        FIRST_LAT = $FIRST_LAT
                        FIRST_LON = $FIRST_LON
                        NPTS_Y = $NPTS_Y
                        NPTS_X = $NPTS_X	    
                        LBC_FREQ = {{rg01_rs01_m01_lbc_freq[0]}}
                        NLEVS = {{(rg01_rs01_levset|vert_levs)["nlevs"]}}
                        END_DATE = $END_DATE
                        INPUT_FILES = $INPUT_FILES       
                        OUTPUT_FILE = $ROSE_DATAC/{{rg01_name}}/{{rg01_rs01_name}}/{{rg01_rs01_m01_config}}/lbcs/GAL9_alabc_001
                        START_DATE = $START_DATE
                        ROSE_APP_OPT_CONF_KEYS = {{rg01_rs01_std_model}}
            {% endfor %}

        [[Region_Resolution_Model_um]]
            inherit = Region_Resolution_Model
            env-script = """
                eval $(rose task-env)
                DATE=$(rose date -c -f %Y%m%d%H%M)
                cd {{rg01_rs01_ancil_dir}} && . ./ancil_versions && cd -
                GRID_PARAM=$($CYLC_SUITE_RUN_DIR/bin/read_horiz_grid {{rg01_rs01_ancil_dir}}/grid.nl)
                FIRST_LAT=$(echo $GRID_PARAM | cut -f5 -d,)
                FIRST_LON=$(echo $GRID_PARAM | cut -f6 -d,)
                DEL_Y=$(echo $GRID_PARAM | cut -f7 -d,)
                DEL_X=$(echo $GRID_PARAM | cut -f8 -d,)
                NPTS_Y=$(echo $GRID_PARAM | cut -f1 -d,)
                NPTS_X=$(echo $GRID_PARAM | cut -f2 -d,)
                POLE_LAT=$(echo $GRID_PARAM | cut -f3 -d,)
                POLE_LON=$(echo $GRID_PARAM | cut -f4 -d,)
                """
            [[[environment]]]          
                AINITIAL=$ROSE_DATAC/ec/um/ec_cb000
                ALABCIN1 = $ROSE_DATAC/{{rg01_name}}/{{rg01_rs01_name}}/{{rg01_rs01_m01_config}}/lbcs/GAL9_alabc
                ASTART = $ROSE_DATAC/{{rg01_name}}/{{rg01_rs01_name}}/{{rg01_rs01_m01_config}}/ics/GAL9_astart
                CRUN_LEN = {{CRUN_LEN}}
                DEL_Y = ${DEL_Y}
                DEL_X = $DEL_X
                FIRST_LAT = $FIRST_LAT
                FIRST_LON = $FIRST_LON
                CB_FREQ = {{CB_FREQ}}
                LBC_FIELD_FREQ = {{(rg01_rs01_m01_lbc_freq[1] / rg01_rs01_m01_dt)|int}}
                NUM_HEADERS = {{16 * NCB_TIMES * ((rg01_rs01_levset|vert_levs)["nlevs"] + 1)}}
                LBC_RAIN = False
                NLBC_TIMES = {{((CRUN_LEN * 60 * 60) / rg01_rs01_m01_lbc_freq[0])|int + 1}}
                AERO_BL_LEVS = {{(rg01_rs01_levset|vert_levs)["aero_bl_levs"]}}
                NLEVS = {{(rg01_rs01_levset|vert_levs)["nlevs"]}}
                NLEVSP1 = {{(rg01_rs01_levset|vert_levs)["nlevs"] + 1}}
                NLEVSM1 = {{(rg01_rs01_levset|vert_levs)["nlevs"] - 1}}
                NLEVSM2 = {{(rg01_rs01_levset|vert_levs)["nlevs"] - 2}}
                NLEVSM15= {{(rg01_rs01_levset|vert_levs)["nlevs"] - 15}}            
                NPTS_Y = $NPTS_Y
                NPTS_X = $NPTS_X
                NTSTEPS = {{(24 * 60 * 60 /rg01_rs01_m01_dt)|int}}
                POLE_LAT = $POLE_LAT
                POLE_LON = $POLE_LON
                RADSTEP_DIAG = {{(24 * 60 * 60 / rg01_rs01_m01_raddt[1])|int}}
                RADSTEP_PROG = {{(24 * 60 * 60 / rg01_rs01_m01_raddt[0])|int}}
                RHCRIT = {{(rg01_rs01_levset|vert_levs)["rhcrit"]}}
                ROSE_APP_OPT_CONF_KEYS = ns rcf_orog stashpack1 stashpack6 GAL9 fixed 3D_ancils lbc custom
                ROSE_TASK_APP = um
                VERT_LEV = {{rg01_rs01_ancil_dir}}/vertlevs.nl
                PSLIST=1,2,3,4,5,6,7,8,9

            [[Region_Resolution_Model_um_recon]]
                inherit = Region_Resolution_Model_um, UM_LAM_RECON

                script = """
                    {% if rg01_rs01_m01_config == "GAL9" %}
                        INIT_TIME={{INITIAL_CYCLE_POINT}}
                        DATE=$(rose date -c -f "%Y%m%dT%H00Z")
                        FREE_RUN={{FREE_RUN}}
                        DRIVING_MODEL={{dm_name}}
                        UM_OPT="$ROSE_SUITE_DIR/app/um/opt"
                        if [[ "$DRIVING_MODEL" != "ec" ]]; then
                            cp ${UM_OPT}/rose-app-GAL9_standard.conf ${UM_OPT}/rose-app-GAL9.conf
                        elif [[ "$FREE_RUN" == "False" || "$DATE" == "$INIT_TIME" ]]; then 
                            cp ${UM_OPT}/rose-app-GAL9_EC_spinup.conf ${UM_OPT}/rose-app-GAL9.conf
                        else
                            cp ${UM_OPT}/rose-app-GAL9_standard.conf ${UM_OPT}/rose-app-GAL9.conf
                        fi
                    {% endif %}
                    {{TASK_RUN_COMMAND}} --path="share/spack_build/*/bin" ${TASK_RUN_EXTRA_OPTS:-} --command-key=recon
                    """
            [[[environment]]]
                DEL_Y = $DEL_Y
                DEL_X = $DEL_X
                FIRST_LAT = $FIRST_LAT
                FIRST_LON = $FIRST_LON
                NPTS_Y = $NPTS_Y
                NPTS_X = $NPTS_X
                POLE_LAT = $POLE_LAT
                POLE_LON = $POLE_LON
                DATADIR = $ROSE_DATAC/{{rg01_name}}/{{rg01_rs01_name}}/{{rg01_rs01_m01_config}}/ics
                RUN_END = 0,0,0,0,0,0

            [[Region_Resolution_Model_um_recon_cyclen]]
                inherit = Region_Resolution_Model_um, UM_LAM_RECON
                env-script = """
                    eval $(rose task-env --cycle-offset={{CYCLE_FREQ}})  
                    LAST_DUMP_PREV=$(ls -t $ROSE_DATACPT24H/{{rg01_name}}/{{rg01_rs01_name}}/{{rg01_rs01_m01_config}}/ics/*a_da* | head -n1)   
                    cd {{rg01_rs01_ancil_dir}} && . ./ancil_versions && cd -
                    GRID_PARAM=$($CYLC_SUITE_RUN_DIR/bin/read_horiz_grid {{rg01_rs01_ancil_dir}}/grid.nl)
                    FIRST_LAT=$(echo $GRID_PARAM | cut -f5 -d,)
                    FIRST_LON=$(echo $GRID_PARAM | cut -f6 -d,)
                    DEL_Y=$(echo $GRID_PARAM | cut -f7 -d,)
                    DEL_X=$(echo $GRID_PARAM | cut -f8 -d,)
                    NPTS_Y=$(echo $GRID_PARAM | cut -f1 -d,)
                    NPTS_X=$(echo $GRID_PARAM | cut -f2 -d,)
                    POLE_LAT=$(echo $GRID_PARAM | cut -f3 -d,)
                    POLE_LON=$(echo $GRID_PARAM | cut -f4 -d,)
                    """  
                script = """
                    HH=$(rose date -c --print-format="%H")
                    CYCLE_INT_HR={{CYCLE_INT_HR}}
                    
                    if [[ $HH == "06" || "$CYCLE_INT_HR" -gt "6"  ]]; then
                    {% if rg01_rs01_m01_config == "GAL9" %}
                        INIT_TIME={{INITIAL_CYCLE_POINT}}
                        DATE=$(rose date -c -f "%Y%m%dT%H00Z")
                        FREE_RUN={{FREE_RUN}} 
                        DRIVING_MODEL={{dm_name}}

                        UM_OPT="$ROSE_SUITE_DIR/app/um/opt"
                        if [[ "$DRIVING_MODEL" != "ec" ]]; then
                            cp ${UM_OPT}/rose-app-GAL9_standard.conf ${UM_OPT}/rose-app-GAL9.conf
                        elif [[ "$FREE_RUN" == "False" || "$DATE" == "$INIT_TIME" ]]; then 
                            cp ${UM_OPT}/rose-app-GAL9_EC_spinup.conf ${UM_OPT}/rose-app-GAL9.conf
                        else
                            cp ${UM_OPT}/rose-app-GAL9_standard.conf ${UM_OPT}/rose-app-GAL9.conf
                        fi
                    {% endif %}
                        {{TASK_RUN_COMMAND}} --path="share/spack_build/*/bin" --command-key=recon
                    else
                        mkdir -p $ROSE_DATAC/{{rg01_name}}/{{rg01_rs01_name}}/{{rg01_rs01_m01_config}}/ics/
                        ln -sf $LAST_DUMP_PREV $ROSE_DATAC/{{rg01_name}}/{{rg01_rs01_name}}/{{rg01_rs01_m01_config}}/ics/
                        echo [INFO] Recon task is not required because cycle-time is not 06Z.
                        echo [INFO] So setting soft link to the end of previous cycle dump
                        echo [INFO] and then exiting.
                    fi
                    """
                [[[environment]]]
                    DEL_Y = $DEL_Y
                    DEL_X = $DEL_X
                    FIRST_LAT = $FIRST_LAT
                    FIRST_LON = $FIRST_LON
                    NPTS_Y = $NPTS_Y
                    NPTS_X = $NPTS_X
                    POLE_LAT = $POLE_LAT
                    POLE_LON = $POLE_LON
                    YYYYMMDD              = $(rose date -c -f "%Y%m%d")
                    YYYYMMDDHH            = $(rose date -c -f "%Y%m%d%H")
                    AINITIAL              = $LAST_DUMP_PREV
                    ROSE_APP_OPT_CONF_KEYS = ns freerun 3D_ancils stashpack1 stashpack6 GAL9 fixed lbc custom
                    DATADIR               = $ROSE_DATAC/{{rg01_name}}/{{rg01_rs01_name}}/{{rg01_rs01_m01_config}}ics/
                    RUN_END               = 0,0,0,0,0,0

            [[Region_Resolution_Model_um_fcst]]
            # Settings for all <model> LAM forecasts.
             inherit = Region_Resolution_Model_um, UM_LAM_FCST
             
                {% for cr in range(n_cruns) %}
                {% set crp = cr|pad(3,"0") %}
                    [[Region_Resolution_Model_um_fcst_{{crp}}]]
                        inherit = Region_Resolution_Model_um, UM_LAM_FCST
                        pre-script = """
                        ln -sf $ROSE_DATAC/{{rg01_name}}/{{rg01_rs01_name}}/{{rg01_rs01_m01_config}}/lbcs/GAL9_alabc_000 $ROSE_DATAC/{{rg01_name}}/{{rg01_rs01_name}}/{{rg01_rs01_m01_config}}/lbcs/GAL9_alabc
                        """
                        [[[environment]]]
                            CONTINUE = false
                            RUN_END = 0,0,0,6,0,0
                {% endfor %}

    {# Postprocessing task family #}
    [[POSTPROCESS]]
        inherit = None, HOST_HPC
        [[[job]]]
            execution retry delays = PT15M, PT30M

    {# Archiving task family #}
    [[ARCHIVE]]
        inherit = None, HOST_HPC
        [[[job]]]
            execution retry delays = PT15M, PT15M, PT30M, PT60M, PT60M, PT180M, PT360M, PT360M, PT360M
        [[[environment]]]
            ARCHIVE_SET_NAME = ${ROSE_SUITE_NAME}

    {# Housekeeping task family #}
    [[HOUSEKEEP]]
        inherit = None, HOST_LOCAL
        [[[job]]]
            execution retry delays = PT15M, PT15M, PT30M, PT60M, PT60M, PT180M, PT360M, PT360M, PT360M

    {# This housekeeping task applies to complete cycles rather than individual CRUNs #}
    [[housekeep_cycle]]
        inherit = HOUSEKEEP
        env-script = """
            eval $(rose task-env)
            CURR_DATE=$(rose date -c)
            """
        [[[environment]]]
            CYCLE_OFFSET = {{CYCLE_PREV}}
            HK_CYCLE = $CYCLE_OFFSET
            ROSE_APP_OPT_CONF_KEYS={{hs_opt()}}
            ROSE_TASK_APP = housekeep

    [[housekeep_lastcycle]]
        inherit = HOUSEKEEP
        [[[environment]]]
            CYCLE_OFFSET  = {{CYCLE_PREV}}
            HK_CYCLE      = $CYCLE_OFFSET
            ROSE_APP_OPT_CONF_KEYS={{hs_opt()}}
            ROSE_TASK_APP = housekeep
 
{# Site-specific details that add to (or override) the core suite definition. #}
{% include 'site/' + SITE + '/suite-adds.rc' %}
