{% macro PRE_COMMAND() %}
    #module purge
    #export PATH=~access/bin:$PATH
    module use /projects/access/modules
    ulimit -s unlimited

    module load openmpi/4.1.4
    module load intel-mkl/2019.3.199
    module load python2/2.7.16
{% endmacro %}

{% macro UM_ENV() %}
{% if BUILD_MODE == "spack" %}
    module use /g/data/vk83/modules
    module load access-ram3/{{SPACK_VERSION}}
    python3 $CYLC_SUITE_RUN_DIR/bin/link_spack_build $CYLC_SUITE_RUN_DIR/share/spack_build
{% else %}
    module use /projects/access/modules
    module unload intel-compiler intel-ipp openmpi gcom netcdf grib-api eccodes fcm python2 intel-mkl
    module load intel-compiler/2021.5.0
    module load openmpi/4.1.4
    module load netcdf/4.7.1
    #if gcom is not to be built
    module load gcom/7.8_ompi.4.1.4
    module load eccodes/2.8.0
    module load drhook/1.1_ompi.4.1.4
    module load fcm/2019.09.0
{% endif %}
{% if environ["CYLC_VERSION"].startswith('8.') %}
    module load python3-as-python
{% endif %}
    ulimit -s unlimited
    ulimit -c unlimited
    ulimit -l unlimited
    ulimit -a
    module list
{% endmacro %}

{% set UMVER = '13.5' %}
{% set PROJECT = PROJECT | default(environ['PROJECT']) %}
{% set HPC_HOST = 'gadi.nci.org.au' %}
{% set UM_ATM_MEM=4000 %}
{% set UM_ATM_NCI_QUEUE= "normal" %}

[runtime]
    [[root]]
        [[[ environment ]]]
            UMDIR = /g/data/access/projects/access/umdir
            TIDS  = /g/data/access/TIDS

    [[HOST_LOCAL]]
        # Tasks that run on the suite host or group.
        [[[ job ]]]
            batch system = background
        [[[ remote ]]]
            host = localhost

    [[HOST_HPC]]
        # Tasks that the run on HPC host or group.
        init-script = """
            {{PRE_COMMAND()}}
            """
        [[[ job ]]]
            batch system = pbs
            execution time limit =  PT20M
        [[[ remote ]]]
            host = gadi.nci.org.au
        [[[ directives ]]]
            -P          = {{ PROJECT }} 
            -q          = normal
            -l ncpus    = 1
            -l mem      = 1gb
            {% if BUILD_MODE == "spack" %}
            -l storage  = scratch/{{PROJECT}}+gdata/{{PROJECT}}+gdata/access+scratch/access+gdata/ki32+gdata/hr22+gdata/vk83{{ "+" ~ NCI_STORAGE if NCI_STORAGE != "" else ""}}
            {% else %} 
            -l storage  = scratch/{{PROJECT}}+gdata/{{PROJECT}}+gdata/access+scratch/access+gdata/ki32+gdata/hr22{{ "+" ~ NCI_STORAGE if NCI_STORAGE != "" else ""}}
            {% endif %} 
            -W umask    = 0022
        [[[ environment ]]]
            ROSE_TASK_N_JOBS = ${PBS_NCPUS:-4}
            ATMOS_LAUNCHER   = mpirun
            RECON_LAUNCHER   = mpirun
            PROJECT = {{ PROJECT }}

    [[BUILD]]
        init-script = """
            umask 0077
            """
        [[[ environment ]]]
            PLATFORM_CONFIG = nci-x86-ifort
            PREBUILD =
            #MIRROR_TARGET = {{HPC_HOST}}:cylc-run/$ROSE_SUITE_NAME/share/$ROSE_TASK_NAME
            #ROSE_TASK_MIRROR_TARGET = {{HPC_HOST}}:cylc-run/$ROSE_SUITE_NAME/share/$ROSE_TASK_NAME

    [[BUILD_HPC]]
        # Load modules required for building the UM on NCI-GADI
        init-script = """
            {{UM_ENV()}}
            umask 0077
            """
        [[[ directives ]]]
            -l ncpus    = 8
            -l mem      = 120gb
            -l jobfs = 5gb
            -W umask = 0007
            -l software = intel-compiler
            -l storage = scratch/{{PROJECT}}+gdata/{{PROJECT}}+gdata/access+scratch/access+gdata/hr22{{ "+" ~ NCI_STORAGE if NCI_STORAGE != "" else ""}}
        [[[ environment ]]]
            # Ignore lock file - Cylc has its own
            ROSE_TASK_OPTIONS = --ignore-lock
        [[[job]]]
            execution time limit = PT1H
       
    [[CREATEBC]]
        [[[ environment ]]]
            PATH = $ROSE_SUITE_DIR/share/fcm_make_um_utils:$PATH
        [[[ directives ]]]
            -l mem = 4gb
            -l ncpus = 1
            -l storage = scratch/{{PROJECT}}+gdata/{{PROJECT}}+gdata/access+scratch/access+gdata/hr22{{ "+" ~ NCI_STORAGE if NCI_STORAGE != "" else ""}}
        [[[ job ]]]
            execution time limit =  PT40M

    [[SURF_OSTIA]]
        pre-script = "module unload python2" 
        [[[environment]]]
            SURF_CYCLE_TIME = $(rose date -c --print-format=%Y%m%d%H)
            ROSE_LAUNCHER = mpirun
            ROSE_LAUNCHER_PREOPT = -n 1
            NPROC = 1
        [[[directives]]]
            -q = normal
            -l ncpus = 1
            -l mem = 2gb
        [[[job]]]
            execution time limit = PT5M
       
    [[UM_LAM_FCST]]
        [[[ directives ]]]
            -l walltime = 3600

    [[convpp]]
        inherit = HOST_HPC
        [[[ directives ]]]
            -l mem = 20gb

    [[install_cold_hpc]]
        [[[ job ]]]
            batch system = background

    [[HOST_ANTS_MPP]]
        inherit = HOST_HPC
        [[[ directives ]]]
            -l ncpus = 12 
            -l mem   = 20gb
            -l storage = scratch/{{PROJECT}}+gdata/{{PROJECT}}+gdata/access+scratch/access+gdata/hr22{{ "+" ~ NCI_STORAGE if NCI_STORAGE != "" else ""}}
        [[[environment]]]
           HPC_HOST = {{HPC_HOST}}
        [[[job]]]
            execution time limit = PT5M

    [[ANCIL_ANTS_AERO]]
        # Tasks that the run on HPC host or group.
        init-script = """
            {{PRE_COMMAND()}}
            module load ants/0.11.0x
            """

    [[ARCHIVE]]
        inherit = None, HOST_HPC
        pre-script = """
            export PATH=$PATH:/g/data/du7/chs548/rmed/utils/moose-client-wrapper
        """
        [[[job]]]
            execution retry delays = PT15M, PT15M, PT30M, PT60M, PT60M, PT180M, PT360M, PT360M, PT360M
        [[[environment]]]
            STORAGE_TYPE = {{ NCI_STORAGE_TYPE }}
            STORAGE_TOP_DIR = {{ NCI_STORAGE_TOP_DIR }}
        [[[directives]]]
            -q = copyq
            -l mem = 10gb

    [[ROSE_ANA]]
        init-script = """
            module use /g/data/access/modules
            module load pythonlib/mule
            """

{# Using 1 GADI node a n768 reconfiguration uses 20gb ram & runs for 8
   minutes #}
{% set RCF_NPROCX=16 %}
{% set RCF_NPROCY=12 %}
{% set RCF_MEM=4000 %}
{% set UM_ATM_OMP=1 %}

{% macro recon_resources(nx, ny, mem) %}
        [[[ directives ]]]
            -q = normal
            -l ncpus = {{nx * ny}}
            -l mem   = {{mem * nx * ny}}mb
        [[[ environment ]]]
            RCF_NPROCY   = {{ny}}
            RCF_NPROCX   = {{nx}}
{% endmacro %}

{% macro atmos_resources(nx, ny, omp, mem) %}
    {% set ios = 0 %}
        [[[ directives ]]]
            -q          = {{UM_ATM_NCI_QUEUE}}
            -l ncpus    = {{(nx * ny + ios) * omp}}
            -l mem      = {{mem * (nx * ny + ios) * omp}}mb
        [[[ environment ]]]
            UM_ATM_NPROCY   = {{ny}}
            UM_ATM_NPROCX   = {{nx}}
            OMP_NUM_THREADS = {{omp}}
            FLUME_IOS_NPROC = {{ios}}
            ATMOS_LAUNCHER  = mpirun -n {{nx * ny + ios}} --map-by node:PE={{omp}} --rank-by core
        [[[job]]]
            execution time limit =  PT{{WALL_CLOCK_LIMIT}}S
{% endmacro %}

{% if NCI_ERA5GRIB | default(False) %}
    [[nci_era5grib_parallel]]
        # NCI only: Pre-process ERA5 to GRIB format
        pre-script = """
            module use /g/data/vk83/modules
            module load conda/access-ram/2025.03.0
            """
        # NCI only: Pre-process ERA5 to GRIB format
        [[[ directives ]]]
            -l ncpus    = 4
            -l mem      = {{4 * 8}}gb
            -l storage  = scratch/{{PROJECT}}+gdata/{{PROJECT}}+gdata/access+gdata/vk83+gdata/rt52+gdata/zz93+gdata/hr22{{ "+" ~ NCI_STORAGE if NCI_STORAGE != "" else ""}}
        [[[job]]]
            execution time limit =  PT2H
{% endif %}


[[ec_um_recon]]
    {{recon_resources(RCF_NPROCX,RCF_NPROCY,RCF_MEM)}}

    {% for lb in range(n_lbcs) %}
        {% set lbc = lb|pad(3,"0") %}
            [[ec_um_recon_{{lbc}}]]
            init-script = """
                {{UM_ENV()}}
            """
            env-script = """
                eval $(rose task-env)
                DUST_OPT=
                EC_OPT=
                DATE=$(rose date -c -f %Y%m%d%H%M)
                DUST_OPT=nodust
                EC_OPT=ec
                set `cat {{dm_ec_lam_ancil_dir}}/grid_eg.nl`
                DELTA_LAT=`echo $3 | cut -d '=' -f2 | sed  's/,//;'`
                DELTA_LON=`echo $2 | cut -d '=' -f2 | sed  's/,//;'`
                FIRST_LAT=`echo $9 | cut -d '=' -f2 | sed  's/,//;'`
                FIRST_LON=`echo $7 | cut -d '=' -f2 | sed  's/,//;'`
                POLE_LAT=`echo ${10} | cut -d '=' -f2 | sed  's/,//;'`
                POLE_LON=`echo $8 | cut -d '=' -f2 | sed  's/,//;'`
                NPTS_Y=`echo ${12} | cut -d '=' -f2 | sed  's/,//;'`
                NPTS_X=`echo ${11} | cut -d '=' -f2 | sed  's/,//;'`
                NLEVS=`echo ${14}  | cut -d '=' -f2 | sed  's/,//;'`            
                NLEVSM1=$(( $NLEVS - 1 ))
                NLEVSM2=$(( $NLEVS - 2 ))
                """
    {% endfor %}


{% if NCI_HRES_ECCB != "none" %}
    [[nci_hres_eccb]]
       pre-script = """
            module use /g/data/vk83/modules
            module load conda/access-ram/2025.03.0
            export BARRA_DIR=$ROSE_DATA/etc/barra_r2
            export ERA_DIR=$ROSE_DATA/etc/era5_land
            """
        # NCI only: Pre-process ERA5 to GRIB format
        [[[ directives ]]]
            -l ncpus    = 1
            -l mem      = 3gb
            -l storage  = scratch/{{PROJECT}}+gdata/{{PROJECT}}+gdata/access+gdata/vk83+gdata/rt52+gdata/zz93+gdata/ob53+gdata/hr22{{ "+" ~ NCI_STORAGE if NCI_STORAGE != "" else ""}}
        [[[job]]]
            execution time limit =  PT15M

    [[nci_hres_ic]]
       init-script = """
            {{UM_ENV()}}
            """
       pre-script = """
            module use /g/data/vk83/modules
            module load conda/access-ram/2025.03.0
            export BARRA_DIR=$ROSE_DATA/etc/barra_r2
            export ERA_DIR=$ROSE_DATA/etc/era5_land
            """

        # NCI only: Pre-process ERA5 to GRIB format
        [[[ directives ]]]
            -l ncpus    = 1
            -l mem      = 3gb
            -l storage  = scratch/{{PROJECT}}+gdata/{{PROJECT}}+gdata/access+gdata/vk83+gdata/rt52+gdata/zz93+gdata/ob53+gdata/hr22{{ "+" ~ NCI_STORAGE if NCI_STORAGE != "" else ""}}
        [[[job]]]
            execution time limit =  PT15M
{% endif %}


[[Region_Resolution_Model_um]]
    init-script = """
        {{UM_ENV()}}
    """
    {{atmos_resources(rg01_rs01_m01_nproc[1],rg01_rs01_m01_nproc[0],UM_ATM_OMP,UM_ATM_MEM)}}

    [[Region_Resolution_Model_um_recon]]
        init-script = """
            {{UM_ENV()}}
            module unload python2-as-python
            module load python3-as-python
        """
        {{recon_resources(RCF_NPROCX,RCF_NPROCY,RCF_MEM)}}

    [[Region_Resolution_Model_um_recon_cyclen]]
        {{recon_resources(RCF_NPROCX,RCF_NPROCY,RCF_MEM)}}


{# vim: filetype=htmljinja
#}
